/* Custom Styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

.navbar-brand {
  font-weight: bold;
  color: #2f4dd3;
}

.nav-link {
  color: #666; /* Light gray */
}

.nav-link.active {
  font-weight: bold;
}

.container {
  margin-top: 20px;
}

h1 {
  color: #343a40;
}

.col-md-6 {
  text-align: left;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f2f2f2; /* Off-white for content boxes */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.col-md-6 h3 {
  font-size: 1.8em;
  color: #9933cc; /* Deep purple for headings */
  margin-bottom: 20px;
}

.col-md-6 p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
}

.col-md-6 a {
  color: #c77299; /* Soft pink for links */
  text-decoration: none;
}

.col-md-6 a:hover {
  text-decoration: underline;
}

.form-label {
  font-weight: bold;
  color: #343a40;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
